.message-list div {
  background: #f0f8ff;
  border: 1px solid #0078d7;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-list div p {
  margin: 5px 0;
  color: #333;
}

.message-list div p strong {
  color: #0078d7;
}
